.imgCardCorso{
  width: 280px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;

  @media(min-width:375px){
  }
}
.card{
  width: 280px;
}
.row > *{
  padding: 0;
}
