<footer class="bgFooter">

  <div class="container">
    <div class="text-center mb-2">
      <img class="imgLogoFooter" src="../../../assets/pugnatoris-club-logo.png" alt="LogoFooter">
    </div>

    <div class="footerText text-center text-white">
      <p>Dal 1997 siamo la palestra di riferimento nel Sud Italia per gli amanti delle arti marziali miste. </p>
      <h4 class="fw-bold fs-5">PUGNATORIS CLUB</h4>
      <p>presso il Palazzetto dello Sport via San Francesco 37, 33080 Fiume Catania - Sicilia</p>
      <p>Telefono: +39 392 657665</p>
      <p>e-mail:
        <a class="text-decoration-none text-reset" type="e-mail"
          href="mailto:pugnatorisclub@gmail.com">pugnatorisclub&#64;gmail.com</a>
      </p>
      <div class="d-flex justify-content-center">
        <a href="https://www.facebook.com/groups/111696662191123/?ref=share">
          <i class="bi bi-facebook me-3"></i>
        </a>
        <a href="#">
          <i class="bi bi-whatsapp"></i>
        </a>
      </div>

      <div class="mt-3">
        <p>Pugnatoris Club ASD © 2021 Tutti i diritti riservati - C.F. 12827312622</p>
      </div>

    </div>
  </div>
</footer>
