<nav class="navbar navbar-expand-lg">

  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img class="nav-logo" src="../../../assets/pugnatoris-club-logo.png" alt="logo">
    </a>

    <button class="btn btnToggle" (click)="collapsed = !collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span><i class="bi bi-list"></i></span>
    </button>

    <div [ngClass]="{show:collapsed}" class="collapse navbar-collapse show" id="navbarNavDropdown">

      <ul class="navbar-nav">

        <li class="nav-item d-flex align-items-baseline">
          <a (click)="collapsed = !collapsed" class="nav-link active" aria-current="page" routerLink="/homepage">Home</a>
          <i class="bi bi-caret-left-fill"></i>
        </li>

        <div *ngIf="!isLoggedIn$">

          <li class="nav-item d-flex align-items-center">
            <a  (click)="collapsed = !collapsed" class="nav-link" routerLink="auth/login">Login</a>
           <i class="bi bi-caret-left-fill"></i>

          </li>
          <li class="nav-item d-flex align-items-center">
            <a  (click)="collapsed = !collapsed" class="nav-link" routerLink="auth/register">Register</a>
           <i class="bi bi-caret-left-fill"></i>
          </li>

        </div>

        <div *ngIf="isLoggedIn$">
          <button (click)="logOut()" class="btn btn-danger me-5">
            Logout
          </button>

        </div>
      </ul>

    </div>
  </div>

</nav>
