.card-title{
  font-weight: 700;
}

.row > *{
  padding: 0;
}

.icon i{
  color: var(--arancione);
}

.icon p{
  color: white;
}

hr{
  border: 1px solid var(--arancione);
}

.form-select:focus {
  background-color: var(--arancione);
 box-shadow: 0 0 15px var(--arancione);
}

.imgCardUser{
  width: 150px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}
.cardBody{
  font-size: 0.8rem;
  padding: 5px;
  @media(min-width:400px){
    font-size: 1rem;
    padding: 0;
    padding-left: 15px;
  }
}

.card{
  box-shadow: 0 0 10px var(--arancione);
  width:280px;
  @media(min-width:400px){
    width:350px;
  }
}

.card p.card-text{
  margin: 0;
  color: var(--arancione);
}
