<div class="container">

  <div class="d-flex justify-content-center">
    <a class="btn icon" routerLink="/welcomeUser">
      <i class="bi bi-door-open"></i>
      <p>WELCOME</p>
    </a>
  </div>
  <div *ngIf="iUser">

    <div *ngIf="showEdit">
      <form [formGroup]="editFotoForm">
        <div class="form-floating text-center">

          <input class="form-control" type="file" id="fileInput" formControlName="fotoProfilo" capture
            (change)="onFileSelected($event)">
          <label for="fileInput">Seleziona un file:</label>
          <span *ngIf="!fileUrl">
            <img class="rounded-circle" [src]="iUser.response.fotoProfilo" alt="fotoProfilo">
          </span>
          <span *ngIf="fileUrl">
            <img class="rounded-circle" [src]="fileUrl" alt="Anteprima immagine">
          </span>

          <button (click)="editFoto()" class="btn btn-warning">carica</button>
        </div>
      </form>

      <form [formGroup]="editForm" (ngSubmit)="edit()">
        <div class="form-floating">
          <input id="nome" type="text" class="form-control" formControlName="nome">
          <label>Nome</label>
          <span *ngIf="editForm.controls['nome'].dirty"
            [ngClass]="{ 'valid': isValid('nome'), 'invalid': isInvalid('nome') }">{{msg.nome}}</span>
        </div>

        <div class="form-floating">
          <input id="cognome" type="text" class="form-control" formControlName="cognome">
          <label>Cognome</label>
          <span *ngIf="editForm.controls['cognome'].dirty"
            [ngClass]="{ 'valid': isValid('cognome'), 'invalid': isInvalid('cognome') }">
            {{msg.cognome}}
          </span>
        </div>

        <div class="form-floating">
          <input id="dataNascita" type="date" class="form-control" formControlName="dataNascita">
          <label>Data di nascita</label>
          <span *ngIf="editForm.controls['dataNascita'].dirty"
            [ngClass]="{ 'valid': isValid('dataNascita'), 'invalid': isInvalid('dataNascita') }">
            {{msg.dataNascita}}
          </span>
        </div>

        <div class="form-floating">
          <input id="email" type="text" class="form-control" formControlName="email">
          <label>Email</label>
          <span *ngIf="editForm.controls['email'].dirty"
            [ngClass]="{ 'valid': isValid('email'), 'invalid': isInvalid('email') }">
            {{msg.email}}
          </span>
        </div>
        <button [disabled]="!editForm.valid" class="btn btn-primary w-100 py-2" type="submit">modifica</button>
      </form>

    </div>

  </div>

  <div *ngIf="!iUser">
    dati utente non disbonibili
  </div>

  <button (click)="showPass = !showPass;showEdit = !showEdit" class="btn btn-danger">
    <span *ngIf="!showPass">cambia Password</span>
    <span *ngIf="showPass">torna indietro</span>
  </button>

  <div *ngIf="showPass">

    <form [formGroup]="editPasswordForm">

      <div class="form-floating">
        <input id='oldPassword' type="password" class="form-control" formControlName="oldPassword">
        <label>Old Password</label>
        <span *ngIf="editPasswordForm.controls['oldPassword'].dirty"
          [ngClass]="{ 'valid': isValidFormPass('oldPassword'), 'invalid': isInvalidFormPass('oldPassword')}">
          {{msgPassword.oldPassword}}
        </span>
      </div>

      <div class="form-floating">
        <input id='newPassword' type="password" class="form-control" formControlName="newPassword">
        <label>New Password</label>
        <span *ngIf="editPasswordForm.controls['newPassword'].dirty"
          [ngClass]="{ 'valid': isValidFormPass('newPassword'), 'invalid': isInvalidFormPass('newPassword') }">
          {{msgPassword.newPassword}}
        </span>
      </div>

      <div class="form-floating">
        <input id='confirmPassword' type="password" class="form-control" formControlName="confirmPassword">
        <label>Conferma password</label>
        <span *ngIf="editPasswordForm.controls['confirmPassword'].dirty" [ngClass]="{ 'valid':match, 'invalid':!match}">
          {{msgPassword.confirmPassword}}
        </span>
      </div>

      <button [disabled]="!editPasswordForm.valid" (click)="editPassword();" class="btn btn-success">

        Modifica Password

      </button>
    </form>

  </div>
</div>
