<div class="boxContainer text-center">

  <div class="imageHome"></div>

  <div class="container">

    <div class="content">

      <span class="animatedSpan">
        <h2 class=" textColor"> DAL 2010</h2>
        <h2 class=" textNormal">CON PASSIONE</h2>
        <p class=" pGeneral text-white">
          Offriamo un servizio per allenare corpo e mente nella disciplina che più preferisci
        </p>
        <button routerLink="/chi-siamo" class="btn btnGeneral">Chi siamo</button>
      </span>

      <span class="animatedSpan">
        <h2 class=" textColor"> REGISTRATI</h2>
        <h2 class=" textNormal">PRENOTA UNA LEZIONE</h2>
        <p class=" pGeneral text-white">
          Una volta registrato, puoi prenotare una lezione di prova senza nessun vincolo.
        </p>
        <a  class="btn btnGeneral" routerLink="/auth/register">Registrati</a>
      </span>

      <span class="animatedSpan">
        <h2 class=" textColor"> I NOSTRI</h2>
        <h2 class=" textNormal"> INSEGNANTI</h2>
        <p class=" pGeneral text-white">
          Con un' ampia esperienza costruita negli anni, sapranno guidarti in base alle tue esigenze
          e dimistichezza.
        </p>
        <button routerLink="/maestri" class="btn btnGeneral">I nostri insegnanti</button>
      </span>


    </div>


  </div>

</div>
