.card-title{
  font-weight: 700;
}

.row > *{
  padding: 0;
}


.imgCardUser{
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}

.card{
  width: 250px;
  box-shadow: 0 0 10px var(--arancione)
}

.card-body{
  padding: 20px;
}

.card p.card-text{
  margin: 0;
  color: var(--arancione);
}

