<div class="container">

  <div class="my-5 animate__animated animate__zoomIn">
    <h4>IRON FIGTHERS</h4>
    <h2 class="text-center">I NOSTRI ISTRUTTORI</h2>
  </div>



  <h4 class="animate__animated animate__fadeInDown">
    <hr>
    NIKO INSANA
    <hr>
  </h4>

  <div class="istruttore">
    <div class=" animate__animated animate__fadeInLeft animate__slow py-3">
      <img class="imgIstruttore" src="../../../../assets/img/NIKO_n.jpg" alt="fotoIstruttore">
    </div>

    <div class="animate__animated animate__fadeInRightBig animate__slow">

      <p class="text-white">
        Niko Insana è un istruttore di MMA grappling e Muay Thai con oltre dieci anni di esperienza nella gestione di
        una palestra specializzata. Il suo corso si distingue per l'attenzione alla sicurezza e per l'efficacia
        nell'insegnamento delle tecniche di lotta e di Muay Thai. È un mentore e un motivatore che aiuta gli studenti a
        sviluppare fiducia, disciplina e rispetto. Organizza eventi e competizioni per promuovere lo sport e offre
        opportunità ai suoi studenti di mettere in pratica le loro abilità sia nel grappling che nel Muay Thai. In
        sintesi, Niko Insana è un leader nell'allenamento di MMA grappling e Muay Thai che si impegna a trasmettere la
        sua passione e a guidare gli altri verso il successo nelle arti marziali miste.
      </p>
    </div>

  </div>

  <h4 class="animate__animated animate__fadeInDown py-2">
    <hr>
    FRANCESCO AGLIO
    <hr>
  </h4>

  <div class="istruttore">

    <div class="animate__animated animate__fadeInLeft animate__slow py-3">
      <img class="imgIstruttore" src="../../../../assets/img/boxeAglio.jpg" alt="fotoIstruttore">
    </div>

    <div class="animate__animated animate__fadeInRightBig animate__slow">
      <p class="text-white">
        Francesco Aglio è un istruttore di boxe e kickboxing che collabora con Niko Ensana, portando la sua esperienza e
        competenza nel pugilato e nel kickboxing presso la palestra specializzata. Come mentore, Francesco si impegna a
        guidare gli studenti attraverso gli allenamenti, promuovendo valori come la disciplina e il rispetto. La sua
        presenza contribuisce a creare un ambiente di apprendimento stimolante e inclusivo, offrendo agli studenti
        l'opportunità di crescere sia come atleti che come individui. In breve, Francesco Aglio è un istruttore di boxe
        e kickboxing dedicato e appassionato, che lavora in collaborazione con Niko Ensana per offrire un'esperienza
        formativa di qualità nella palestra.
    </div>


  </div>

</div>
