<div class="container">

  <div class="d-flex justify-content-center">
    <a class="btn icon" routerLink="/welcomeUser">
      <i class="bi bi-door-open"></i>
         <p>WELCOME</p>
    </a>
  </div>

  <div class="row">
    <div class="card col-12 col-md-6 col-xl-4 mb-2">
      <div>
        <img [src]="getImgByCategories(iCorso.response.categoria)" class="card-img-top imgCard" alt="fotoCategoria">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{iCorso.response.categoria}}</h5>
        <p class="card-text">{{iCorso.response.descrizione}}</p>
        <p class="card-text">Durata:{{iCorso.response.durata}}</p>
      </div>
    </div>
  </div>

  <form [formGroup]="formTurno">
    <select class="form-select" aria-label="Default select example" formControlName="selectedTurno">
      <option value="" hidden disabled>Scegli un turno</option>
      <option *ngFor="let turno of iTurni.response" [value]="turno.id">
        Giorno:{{turno.giornoLezione}}
        Inizio turno:{{turno.inizioLezione}}
        Fine turno:{{turno.fineLezione}}
      </option>
    </select>
    <button [disabled]="!formTurno.valid" (click)="sendPrenotazione()" class="btn btn-success">Prenota</button>
  </form>
</div>
